/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define nav_layer   1
#define sym_layer   2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp SQT  &kp CMMA &kp DOT &kp P &kp Y &kp F &kp G  &kp C &kp R &kp L
   &kp A    &kp O    &kp E   &mt LSHFT U &kp I &kp D &mt LSHFT H &kp T &kp N &kp S
   &mt LALT SEMI &kp Q    &kp J   &kp K &kp X &kp B &kp M  &kp W &kp V &kp Z
   &kp LGUI &lt 2 SPACE &kp ESC   &kp RET &lt 1 BSPC &kp RCTRL
                        >;
                };
                nav_layer {
                        bindings = <
   &bt BT_CLR   &trans  &kp ESC  &kp TILD &trans     &kp TAB  &kp HOME &kp UARW &kp END  &kp DEL
   &bt BT_SEL 0 &kp GUI &kp RALT &kp LCTL &mo 3      &kp FSLH &kp LARW &kp DARW &kp RARW &kp BKSP
   &bt BT_SEL 1 &trans  &trans   &trans   &trans     &kp BSLH &kp RET  &trans   &trans    &trans
                        &trans   &trans   &trans     &trans   &trans   &trans
                        >;
                };

                sym_layer {
                        bindings = <
   &kp BANG  &kp ATSN  &kp HASH  &kp CURU  &kp PRCT    &kp CRRT  &kp AMPS &kp KMLT &kp LPRN &kp RPRN
   &trans    &trans    &trans    &trans    &trans      &kp MINUS &kp EQL  &kp LBKT &kp RBKT &kp PIPE
   &trans    &trans    &trans    &trans    &trans      &trans    &trans   &trans   &trans   &kp BSLH
                       &kp LGUI  &trans    &kp SPC     &kp RET   &trans   &kp RALT
                        >;
                };

        };
};
